@page "/AboutMe"



<MudContainer Class="d-flex flex-column justify-center">
    <h2>Sobre mi</h2>
    <h3>¡Hola! Mi nombre es Borja, y soy un desarrollador de software con más de 10 años de experiencia especializado en el desarrollo de aplicaciones con .NET. Durante mi carrera, he trabajado en una amplia gama de proyectos, desde aplicaciones empresariales hasta soluciones personalizadas para clientes, siempre enfocado en ofrecer resultados eficientes y de alta calidad.
        Recientemente, he decidido embarcarme en un nuevo desafío profesional: adentrarme en el mundo del desarrollo para el ecosistema Apple utilizando Swift y SwiftUI. Esta transición no solo representa una oportunidad para ampliar mis habilidades como desarrollador, sino también para explorar nuevas tecnologías y formas de crear aplicaciones modernas y elegantes que se integren perfectamente en el universo Apple.
        Este blog será el espacio donde compartiré mi experiencia en este emocionante proceso. Aquí encontrarás artículos técnicos, recursos útiles y reflexiones sobre lo que voy aprendiendo al dar este salto de .NET a Swift. Además, documentaré los retos que enfrento, las soluciones que desarrollo y las herramientas que utilizo para facilitar el cambio.
        Si estás buscando un desarrollador con una sólida base técnica y pasión por aprender nuevas tecnologías, estoy aquí para ayudarte. Ofrezco servicios de desarrollo a medida, tanto en .NET como en Swift, con el compromiso de crear soluciones robustas, escalables y adaptadas a tus necesidades.
        Gracias por acompañarme en este viaje. Si tienes alguna pregunta, propuesta de proyecto o simplemente quieres compartir ideas, no dudes en ponerte en contacto conmigo. ¡Estoy deseando colaborar contigo! 🚀</h3>
    <div class="d-flex flex-grow-1 gap-4">
        <MudAvatar Color="Color.Dark" Variant="Variant.Filled">
            <MudIcon Color="Color.Info" Icon="@Icons.Material.Filled.Email" Size="Size.Large"/>
        </MudAvatar>
        <MudAvatar Color="Color.Dark" Variant="Variant.Filled">
            <MudIcon Color="Color.Info" Icon="@Icons.Material.Filled.Email" Size="Size.Large"/>
        </MudAvatar>
        <MudAvatar Color="Color.Dark" Variant="Variant.Filled">
            <MudIcon Color="Color.Info" Icon="@Icons.Material.Filled.Email" Size="Size.Large"/>
        </MudAvatar>
    </div>
   
</MudContainer>

@code {
    
}